name: 1-Infra-Create
on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - name: Terraform Apply
        run: |
          cd terraform || { echo "Directory 'terraform' not found"; exit 1; }
          
          echo "Listing files inside terraform folder:"
          ls -F
          terraform init
          terraform apply -auto-approve