name: "Asterra-Full-Pipeline"

on:
  push:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform-and-deploy:
    runs-on: ubuntu-latest
    env:
      TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0" # גרסה חדשה פותרת את השגיאה מהלוג שלך
          terraform_wrapper: false

      - name: Terraform Init & Apply
        run: |
          cd terraform
          rm -rf .terraform
          terraform init -reconfigure
          terraform apply -auto-approve

      - name: Extract Outputs
        run: |
          cd terraform
          echo "ECR_URL=$(terraform output -raw ecr_url)" >> $GITHUB_ENV
          echo "DB_HOST=$(terraform output -raw rds_endpoint)" >> $GITHUB_ENV
          echo "S3_BUCKET=$(terraform output -raw s3_bucket)" >> $GITHUB_ENV

      - name: Login to ECR & Push Image
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Build and Push
        run: |
          docker build -t asterra-app ./app
          docker tag asterra-app:latest ${{ env.ECR_URL }}:latest
          docker push ${{ env.ECR_URL }}:latest

      - name: Deploy with Helm
        run: |
          aws eks update-kubeconfig --name asterra-cluster --region us-east-1
          helm upgrade --install asterra-app ./helm \
            --set image.repository=${{ env.ECR_URL }} \
            --set image.tag=latest \
            --set env.databaseUrl=${{ env.DB_HOST }} \
            --set env.s3Bucket=${{ env.S3_BUCKET }}