name: Asterra Infra and Deploy

on:
  push:
    branches:
      - main

env:
  AWS_REGION: us-east-1

jobs:
  terraform-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # --- הוספת שלב התקנת Terraform ---
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false # חשוב כדי שנוכל לחלץ Outputs ל-env

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET }}
          aws-region: "us-east-1"

      - name: Terraform Init & Apply
        id: tf
        env:
          TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve
          
          # Mapping your specific Terraform outputs to GitHub ENV
          echo "ECR_URL=$(terraform output -raw ecr_url)" >> $GITHUB_ENV
          echo "S3_BUCKET=$(terraform output -raw s3_bucket)" >> $GITHUB_ENV
          echo "DB_HOST=$(terraform output -raw rds_endpoint)" >> $GITHUB_ENV
          echo "APP_ROLE_ARN=$(terraform output -raw app_role_arn)" >> $GITHUB_ENV
          echo "CLUSTER_NAME=$(terraform output -raw cluster_name)" >> $GITHUB_ENV

      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and Push Docker Image
        run: |
          docker build -t ${{ env.ECR_URL }}:latest .
          docker push ${{ env.ECR_URL }}:latest

      - name: Deploy to EKS
        run: |
          aws eks update-kubeconfig --name ${{ env.CLUSTER_NAME }} --region ${{ env.AWS_REGION }}
          
          kubectl create secret generic db-secret \
            --from-literal=password='${{ secrets.DB_PASSWORD }}' \
            --dry-run=client -o yaml | kubectl apply -f -

          helm upgrade --install asterra-app ./helm \
            --set image.repository=${{ env.ECR_URL }} \
            --set image.tag=latest \
            --set env.databaseUrl=${{ env.DB_HOST }} \
            --set env.s3Bucket=${{ env.S3_BUCKET }} \
            --set iam.roleArn=${{ env.APP_ROLE_ARN }}

      - name: Smoke Test
        run: |
          kubectl rollout status deployment/asterra-app --timeout=90s
          POD_NAME=$(kubectl get pods -l app=asterra-app -o jsonpath="{.items[0].metadata.name}")
          kubectl exec $POD_NAME -- curl -s http://localhost:80/health || exit 1