name: "Terraform Destroy"

on:
  workflow_dispatch: # הפעלה ידנית מה-UI של GitHub

jobs:
  destroy:
    name: "Destroy AWS Infrastructure"
    runs-on: ubuntu-latest
    
    # הגדרת משתני סביבה גלובליים לריצה
    env:
      TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: |
          cd terraform
          terraform init

      - name: Terraform Destroy
        # ה-auto-approve קריטי כדי שלא יחכה לאישור אנושי ב-Pipeline
        run: |
          cd terraform
          terraform destroy -auto-approve